---
layout: layouts/base
---

<main>
    <h1 class="font-sans text-6xl">The Village of Selbina</h1>
    <video loop playsinline controls class="min-w-full">
        <source src="assets/videos/selbina.webm" type="video/webm">
        <source src="assets/videos/selbina.mp4" type="video/mp4" >
        <p>Your browser doesn't support HTML5 video. Here is a <a href="assets/videos/selbina.mp4">link to the video</a> instead.</p>
    </video>
</main>
<footer>
    <small>FINAL FANTASY XI &copy; 2002 - 2020 SQUARE ENIX CO., LTD. All Rights Reserved.</small>
</footer>